@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Lexend:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";
/* globals.css or your main CSS file */
.perspective {
  perspective: 1000px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.backface-hidden {
  backface-visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
.card-header,
.table-header,
.sidebar-gl,
.card-title {
  font-family: "Space Grotesk", sans-serif;
}

p,
.table-body {
  font-family: "Ancizar Sans", sans-serif;
}

span,
.sidebar-group-content {
  font-family: "Lexend", sans-serif;
}

Button,
button {
  font-family: "Lexend", sans-serif;
  cursor: pointer;
}
